{% extends "layout.html" %}
{% block app %}
<div id="about-page">
<div class="side" align="center">
<div class="circular--portrait">
<a href="https://www.uni-marburg.de/fb04/team-christiansen/mitarbeiter/christiansen" style="text-decoration:none" target="_blank"><img src="static/dr-christiansen.jpeg" /></a>
</div>
<a href="https://www.uni-marburg.de/fb04/team-christiansen/mitarbeiter/christiansen" style="text-decoration:none" target="_blank"><h5>Prof. Dr. Hanna Christiansen <br> Supervisor of the project</h5></a>
</div>
<div class="side" align="center">
<div class="circular--portrait">
<a href="https://a-beheshti.com" style="text-decoration:none" target="_blank"><img src="static/beheshti.jpg" /></a>
</div>
<a href="https://a-beheshti.com" style="text-decoration:none" target="_blank"><h5>Ashkan Beheshti <br> Developer of the project</h5></a>
</div>
<p></p>
<div class="about">
<h4> About the project</h4>
Systematic reviews in general and meta-analysis specifically are broadly applied methods for synthesizing currently available studies to reach a better understanding of related problematic in a certain field. For conducting such analyses, several statistical software products facilitate the main process of effect size calculations. Each software has its characteristics, pros, and cons. However, not only the number of the online tools related to calculations of meta-analyses are considerably limited. Most of the other tools are also required to be installed by the user to run, and often this is associated with license fees. Regarding this limitation, the objective of the current project was to develop a free online and user-friendly meta-analysis service that can be used in different fields.
<p></p>
We have developed Meta-Mar as a free online web application and validated its function by comparing its results. This version of the application <b><a href="/"> Meta-Mar </a>(2.7.0)</b> released on April.2020 is able to calculate effect sizes based on standardized mean differences as well as correlation coefficients and risk ratios, weight each effect, and present the heterogeneity of the analysis as well as the forest plot and funnel plot. In addition to meta-analysis, other facilities of Meta-Mar are possibility for meta regression, a regression analysis based on effect sizes and a moderator variable, subgroup analysis, and  calculation of Fail-N Safe . We are currently working on Meta-Meta-Mar, a tool for synthesizing meta-analyses while correcting for the inclusion of primary articles cited in more than one meta-analysis.

<p></p>


</div>
</div>
{% endblock %}
