{% extends "layout.html" %}
{% block app %}

<h4>Drop us a line!</h4></p>
  <p>Email me at <a href="mailto:s.ashkan.beheshti@gmail.com?subject=feedback">s.ashkan.beheshti @ gmail.com</a> or use following form. </p>
        <form action="/submitcontact" method="post">
          <div class="form_settings">
            <p><span>Name</span><input class="contact" type="text" name="your_name" value="" required/></p>
            <p><span>Email Address</span><input class="contact" type="text" name="your_email" value="" required/></p>
            <p><span>Message</span><textarea class="contact textarea" rows="8" cols="50" name="your_message" required></textarea></p>
            <p></p>
            <p><span>Please enter the number <img src="{{captch_root}}" alt="captcha" style="width:140px;height:100px;"></span><input class="contact" type="number" name="captch" value="" required/</p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="submit" /></p>
          </div>
        </form>




{% endblock %}
