{% extends "layout.html" %} {% block app %}
<br>
<img src="https://www.dropbox.com/s/wx9qy72ar7bthhq/freud.jpg?raw=1" alt="freud" align="right" style="width:442px;height:373px;">
<h1>Meta-analysis: Correlation Model</h1>
<h5>select your preferred method: manual data entry or Excel file upload? </h5>
<br>

<div id="table" align="left">
  <table border="0">
    <tr>
      <th>
        <a href="#" id="Method_1" v-on:click="dataEntryMethod = true; uploadMethod = false">
          <h3 style="font-size: 200%; margin-right: 100px">
            <b v-if="dataEntryMethod">Data Entry</b>
            <span v-if="!dataEntryMethod">Data Entry</span>
          </h3>
        </a>
      </th>
      <th>
        <a href="#" id="Method_2" v-on:click="uploadMethod = true; dataEntryMethod = false">
          <h3 style="font-size: 200%;">
            <b v-if="uploadMethod">Excel Spreadsheet Upload</b>
            <span v-if="!uploadMethod">Excel Spreadsheet Upload</span>
          </h3>
        </a>
      </th>
    </tr>
    <tr>
      <th><a href="#" style="cursor:help;" v-on:mouseover="dataEntryHelp = !dataEntryHelp" v-on:mouseout="dataEntryHelp = !dataEntryHelp"> help </a></th>
      <th><a href="#" style="cursor:help;" v-on:mouseover="uploadHelp = !uploadHelp" v-on:mouseout="uploadHelp = !uploadHelp"> help </a></th>
    </tr>
    <tr>
      <th>
        <transition name="fade">
          <div v-if="dataEntryHelp" class="helpbox">
              If you prefer to manually enter data, click on Data Entry. Enter your studies!<br> You can also add or remove
              studies by clicking on Add a Study or Remove.<br> Receive the results by clicking on Calculate.<br> You can
              also download the results as an Excel file.<br>
          </div>
        </transition>
      </th>
      <th>
        <transition name="fade">
          <div v-if="uploadHelp" class="helpbox">
              If you prefer to upload your data as an Excel file click on <b>Excel Spreadsheet Upload</b>.<br> Download the
              empty Excel file and transfer your data to the spreadsheet without changing the labels.<br> Receive the results
              by clicking on <b>Calculate</b>.You can also <b>download the results as an Excel file.</b><br>
          </div>
        </transition>
      </th>
    </tr>
  </table>
</div>

<div v-if="dataEntryMethod" class="data-entry-method method1">
  <form action="/result1" method="POST" v-on:submit.prevent="processData()">
    <table width="100%" class="table" id="method1">
      <thead>
        <tr>
          <td>
            <center> <b> <font color="black"> Study name</font> </b> </center>
          </td>
          <td>
            <center> <b> <font color="#2E9AFE"> Correlation Coefficient</font> </b> </center>
          </td>
          <td>
            <center> <b> <font color="#FE642E"> sample size </font> </b> </center>
          </td>
          <td>
            <center> <b> <font color="brown"> Moderator <br> <h5>(optional)</h5> </font> </b> </center>
          </td>
        </tr>


      </thead>
      <tbody>
        <tr v-for="row, i in rows">
          <td> <input type="text" v-model="row.study" name="study" required></td>
          <td> <input type="number" step="0.00001" v-model="row.correlation" name="correlation" required></td>
          <td> <input type="number" step="0.00001" v-model="row.sample" name="sample" required></td>
          <td> <input type="number" step="0.00001" v-model="row.moderator" name="moderator" ></td>

          <td v-if="rows.length>1"><a @click="removeRow(i)" class="btn btn-danger removelink">Remove</a></td>
        </tr>
      </tbody>
    </table>

    <div>
      <button class="btn btn-default" @click="addRow">Add a Study</button>
      <br>
      <br>
      <button class="btn btn-primary" type="submit">Calculate</button>
  </form>

  <p></p>
  <p></p>

  <br>
  <div id="response-container">
    <div v-if="error">
      <h3>Error!</h3>
      {{error}}
    </div>
    <div v-if="isLoading"> Loading... </div>
    <div v-if="ajaxResult" v-html="ajaxResult"></div>
    <h4 v-if="ajaxResult"> Fig.1 Forestplot - fixed and random effect models</h4>
    <div v-if="ajaxResult" id="fixedModelChartDiv">fixedModelChartDiv</div>
    <div v-if="ajaxResult" id="randomModelChartDiv">randomModelChartDiv</div>

  </div>
  </div>
</div>

<div v-if="uploadMethod" class="data-entry-method method2">
  <form action="/uploader_corr" method="POST" enctype="multipart/form-data">
    <b>  &nbsp;Step1:</b> Download the raw excel file: <a href="/static/analysis_corr.xlsx" download> analysis_corr.xlsx </a>
    <p></p>
    <b>&nbsp;Step2: </b>Now enter your data just like the picture!
    <p></p>
    <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img src="/static/corr.png" alt="Data Entry" width="586" height="260">
    <br><p></p>
    <b> &nbsp;Step3:</b> Upload your excel file(analysis_corr.xlsx). <input type="file" name="file">
    <br> &nbsp;
    <p></p>
    <button type="submit" value="Submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Continue to the Results </button>
  </form>
</div>


{% endblock %} {% block script %}
<script>
  var app = new Vue({
    el: "#app",
    data: {
      dataEntryMethod: true,
      uploadMethod: false,

      dataEntryHelp: false,
      uploadHelp: false,

      error: false,
      isLoading: false,
      ajaxResult: null,
      rows: [{
        study: "",
        correlation: "",
        Sample: ""
      }, ]
    },
    methods: {
      addRow: function () {
          this.rows.push({
            study: "",
            correlation: "",
            Sample: "",
            moderator: ""
          });
      },
      removeRow: function (index) {
          this.rows.splice(index, 1)
      },

      processData: function () {
          // clear error, previous results, ...
          this.error = false
          this.isLoading = true
          this.ajaxResult = null

          // get data from data-model & convert to json string
          const data = JSON.stringify(this.rows)

          // send ajax request as POST
          this.$http.post('/result_corr', data).then(response => {
            // request was successful, binding the result
            this.isLoading = false
            this.ajaxResult = response.body.content
            this.drawChart(response.body)
          }, error => {
            // well, sometimes error happens :)
            this.isLoading = false
            this.error = error
          })
      }, drawChart: function (data) {
        setTimeout(() => {
          drawChartWithSomeDelay(data)
        }, 200) // wait 200ms and then draw the chart
      }
    }
  })
  function drawChartWithSomeDelay(data) {
    let fixedModelChartData = []
    let randomModelChartData = []

    fixedModelChartData.push({
      "category": "",
      "measure": 0,
      "bullet": "",
      "bulletSize": 0,
      "high": 0,
      "low": 0
    })

    for (var i = 0; i < data.r_list.length; i++) {
      fixedModelChartData.push({
        "category": data.study_list[i],
        "measure": data.r_list[i].toFixed(3),
        "bullet": "square",
        "bulletSize": data.weight_fixed_list[i].toFixed(0),
        "high": data.r_upper_list[i].toFixed(3),
        "low": data.r_lower_list[i].toFixed(3)
      })
    }

    fixedModelChartData.push({
      "category": "r(ave) fixed model",
      "measure": data.ave_r_fixed.toFixed(3),
      "bullet": "diamond",
      "bulletSize": 25,
      "high": data.upper_r_fixed.toFixed(3),
      "low": data.lower_r_fixed.toFixed(3)
    })

    AmCharts.makeChart("fixedModelChartDiv", {
      "type": "serial",
      "theme": "light",
      "rotate": true,
      "fontSize": 18,
      "categoryAxis": {
        "gridAlpha": 0,
      },
      "valueAxes": [{
        "guides": [{
          "value": 2.2,
          "dashLength": 3,
          "lineThickness": 2
        }]
      }],
      "chartCursor": {
        "fullWidth": true,
        "graphBulletSize": 1,
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0.1
      },
      "dataProvider": fixedModelChartData,
      "graphs": [{
        "lineAlpha": 0,
        "bulletField": "bullet",
        "bulletSizeField": "bulletSize",
        "valueField": "measure",
        "lineColor": "#00c20d",
        "balloonText": "<strong>[[value]]</strong> 95%CI([[low]],[[high]])"
      }, {
        "type": "ohlc",
        "highField": "high",
        "lowField": "low",
        "openField": "measure",
        "closeField": "measure",
        "fixedColumnWidth": 1,
        "lineColor": "#00c20d",
        "showBalloon": false
      }],
      "categoryField": "category"
    });



    randomModelChartData.push({
      "category": "",
      "measure": 0,
      "bullet": "",
      "bulletSize": 0,
      "high": 0,
      "low": 0
    })

    for (var i = 0; i < data.r_list.length; i++) {
      randomModelChartData.push({
        "category": data.study_list[i],
        "measure": data.r_list[i].toFixed(3),
        "bullet": "square",
        "bulletSize": data.weight_random_list[i].toFixed(0),
        "high": data.r_upper_list[i].toFixed(3),
        "low": data.r_lower_list[i].toFixed(3)
      })
    }

    randomModelChartData.push({
      "category": "r(ave) fixed model",
      "measure": data.ave_r_random,
      "bullet": "diamond",
      "bulletSize": 25,
      "high": data.upper_r_random,
      "low": data.lower_r_random
    })

    AmCharts.makeChart("randomModelChartDiv", {
      "type": "serial",
      "theme": "light",
      "rotate": true,
      "fontSize": 18,
      "categoryAxis": {
        "gridAlpha": 0,
      },
      "valueAxes": [{
        "guides": [{
          "value": 2.2,
          "dashLength": 3,
          "lineThickness": 2
        }]
      }],
      "chartCursor": {
        "fullWidth": true,
        "graphBulletSize": 1,
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0.1
      },
      "dataProvider": randomModelChartData,
      "graphs": [{
        "lineAlpha": 0,
        "bulletField": "bullet",
        "bulletSizeField": "bulletSize",
        "valueField": "measure",
        "lineColor": "#00c20d",
        "balloonText": "<strong>[[value]]</strong> 95%CI([[low]],[[high]])"
      }, {
        "type": "ohlc",
        "highField": "high",
        "lowField": "low",
        "openField": "measure",
        "closeField": "measure",
        "fixedColumnWidth": 1,
        "lineColor": "#00c20d",
        "showBalloon": false
      }],
      "categoryField": "category"
    });
  }
</script>
{% endblock %}
