{% extends "layout.html" %} {% block app %}

<h1>Effect Size Calculator</h1>
<h2>Select the effect size Model:</h2>

  <input type="radio" name="effectmodel" value="SMD" v-on:click="smd_model = true; r_model = false; ratio_model = false;" checked> SMD &nbsp;&nbsp;
  <input type="radio" name="effectmodel" value="r" v-on:click="smd_model = false; r_model = true; ratio_model = false;"> Correlation &nbsp;&nbsp;
  <input type="radio" name="effectmodel" value="ratio" v-on:click="smd_model = false; r_model = false; ratio_model = true;"> Risk Ratio &nbsp;&nbsp;
  <p></p>
  <p></p>

<div v-if="smd_model">
  <b>Means and standard deviations</b>
  <p></p>
        <form>
            <table>
              <tr>
                 <td> <center> <b> <font color="black"> SMD Model </font> </b> </center> </td>
                 <td> <center> <b> <font color="green"> Mean </font> </b> </center> </td>
                 <td> <center> <b> <font color="green"> SD </font> </b> </center> </td>
                 <td> <center> <b> <font color="green"> n </font> </b> </center> </td>
               </tr>
               <tr>
                 <td> <center> <b> <font color="red"> Group1 </font> </b> </center> </td>
                 <td> <input type="text" id="m1" v-model="m1"></td>
                 <td><input type="text" id="sd1" v-model="sd1"></td>
                 <td>  <input type="text" id="n1" v-model="n1"></td>
              </tr>
              <tr>
                 <td> <center> <b> <font color="blue"> Group2 </font> </b> </center> </td>
                 <td><input type="text" id="m2" v-model="m2"></td>
                 <td>  <input type="text" id="sd2" v-model="sd2"></td>
                 <td><input type="text" id="n2" v-model="n2"></td>
            </tr>
            </table>
            <table>
              <tr>
                <td>Cohen's d</td>
                <td><input type="text" id="d" v-model="d"></td>
              </tr>
              <tr>
                <td>SE<sub>d</td>
                <td><input type="text" id="sd" v-model="sd"></td>
              </tr>
              <tr>
                <td>Hedges' g</td>
                <td><input type="text" id="hg" v-model="hg"></td>
              </tr>
              <tr>
                <td>SE<sub>g</td>
                <td><input type="text" id="sg" v-model="sg"></td>
              </tr>
              <tr>
                <td>95%CI</td>
                <td><input type="text" id="ci" v-model="ci"></td>
              </tr>
            </table>
        </form>
</div>

<div v-if="r_model">
  <b>Correlation</b>
  <p></p>
  <form>
    <table class="table" id="effectMean">
        <tr>
          <td>
          </td>
           <td> <center> <b> <font color="green"> r </font> </b> </center> </td>
           <td> <center> <b> <font color="green"> n </font> </b> </center> </td>
         </tr>
         <tr>
           <td> <center> <b> <font color="blue"> Correlation Model </font> </b> </center> </td>
           <td> <input type="number" step="0.001" id="r" v-model="r"required> </td>
           <td> <input type="number" step="1" id="rn" v-model="rn"required> </td>
         </tr>
       </table>
       <table>
           <tr>
           <td>Fisher z</td>
           <td> <input id="z"v-model="z"> </td>
           </tr>
           <tr>
           <td>SE</td>
           <td> <input id="sr"v-model="sr"> </td>
           </tr>
           <tr>
           <td>95%CI</td>
           <td> <input id="cir"v-model="cir"> </td>
           </tr>
       </table>
       </form>
</div>

<div v-if="ratio_model">
  <b>Ratio</b>
  <p></p>
  <form>
  <table class="table">
    <thead>
      <tr>
        <td colspan="2">
          <center> <b> <font color="#2E9AFE"> Group 1 </font> </b> </center>
        </td>
        <td colspan="2">
          <center> <b> <font color="#FE642E"> Group 2 </font> </b> </center>
        </td>

      </tr>

      <tr>
        <td>
          <center>
            <font color="#2E9AFE"> Events </font>
          </center>
        </td>
        <td>
          <center>
            <font color="#2E9AFE"> Non-Events </center>
          </font>
        </td>

        <td>
          <center>
            <font color="#FE642E"> Events </center>
          </font>
        </td>
        <td>
          <center>
            <font color="#FE642E"> Non-Events </center>
          </font>
        </td>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <center><input type="number" id="g1_e" v-model="g1_e"required></center></td>
        <td> <center><input type="number" id="g1_ne"v-model="g1_ne" required></center></td>
        <td> <center><input type="number" id="g2_e" v-model="g2_e"required></center></td>
        <td> <center><input type="number" id="g2_ne"v-model="g2_ne" required></center></td>
      </tr>
    </tbody>
  </table>
  <table>
      <tr>
      <td>RiskRatio</td>
      <td> <input id="rr"v-model="rr"> </td>
      </tr>
      <tr>
      <td>LnRR</td>
      <td> <input id="lnrr"v-model="lnrr"> </td>
      </tr>
      <tr>
      <td>SE<sub>LnRR</td>
      <td> <input id="srr"v-model="srr"> </td>
      </tr>
      <tr>
      <td>95%CI<sub>LnRR</td>
      <td> <input id="cirr"v-model="cirr"> </td>
      </tr>
  </table>
  </form>
</div>

{% endblock %}

{% block script %}
<script>
    new Vue({
        el:'#app',
        data : {
          smd_model: true,
          r_model: false,
          ratio_model: false,
                m1 : '',
                sd1: '',
                n1: '',
                m2 : '',
                sd2: '',
                n2: '',
                r: '',
                rn: '',
                g1_e: '',
                g1_ne: '',
                g2_e: '',
                g2_ne: ''

         },
        computed: {
                d: function(){
                    var ss=((((this.n1*1-1)*this.sd1**2)*1+((this.n2*1-1)*this.sd2**2)*1)/(this.n1*1+this.n2*1-2))**0.5;
                    return ((this.m1*1-this.m2*1)/ss*1).toFixed(3);
                },
                sd: function(){
                    var a=2*(this.n1*1+this.n2*1);
                    var a_1=(1/this.n1)*1+(1/this.n2)*1;
                    var sd1=this.d**2/a;
                    return ((sd1*1+a_1*1)**0.5).toFixed(3);
                },
                hg: function(){
                  var g1= this.n1*1+this.n2*1;
                  var g2= (1-(3/((g1*1-9)*4)));
                  return (this.d*g2).toFixed(3);
                },
                sg: function(){
                  var b1= this.n1*1+this.n2*1;
                  var b2= (1-(3/((b1*1-9)*4)));
                  return (this.sd*b2).toFixed(3);
                },
                ci: function(){
                  var ci_lower=(this.hg-1.96*this.sg).toFixed(3);
                  var ci_upper=(this.hg*1+1.96*this.sg).toFixed(3);
                  return ci_lower+','+ci_upper;
                },
                z: function(){
                  return (0.5*Math.log((this.r*1+1)/(1-this.r*1))).toFixed(3);
                },
                sr: function(){
                  return ((1/(this.rn*1-3))**0.5).toFixed(3);
                },
                cir: function(){
                  return (this.r*1-1.96*this.sr).toFixed(3)+','+(this.r*1+1.96*this.sr).toFixed(3)
                },
                rr: function(){
                  return ((this.g1_e/(this.g1_e*1+this.g1_ne*1))/(this.g2_e/(this.g2_e*1+this.g2_ne*1))).toFixed(3);
                },
                lnrr: function(){
                  return (Math.log(this.rr)).toFixed(3);
                },
                srr: function(){
                  return (((this.g1_ne/((this.g1_ne*1+this.g1_e*1)*this.g1_e))*1+(this.g1_ne/((this.g2_ne*1+this.g2_e*1)*this.g2_e))*1)**0.5).toFixed(3);
                },
                cirr: function(){
                  return (this.lnrr*1-1.96*this.srr).toFixed(3)+','+(this.lnrr*1+1.96*this.srr*1).toFixed(3);
                },
            }
    });
</script>
{% endblock %}
