{% extends "layout.html" %}
{% block app %}




        <h2>Why Meta-Mar?</h2>
        <p> <b>Meta-Mar</b> is a free online meta-analysis service which is developed for <a href="https://www.uni-marburg.de/fb04/team-christiansen/kj-pam">department of psychology in university of Marburg</a>, make it possible to enter data directly or easily upload an already excisting Microsoft Excel spreadsheet in order to receive the results of the analysis. </p>

        <center>
              <a href="/tutorial"> Tutorial </a>
            &nbsp&nbsp&nbsp  <a href="/meta"> Start Your Analysis! </a>


        </center>

        <p></p>
        <p></p>

        <style>
        .circular--portrait {
          position: relative;
          width: 150px;
          height: 150px;
          overflow: hidden;
          margin-bottom: 20px;
          margin-right: 150px;
          margin-left: 50px;
          border-radius: 50%;
        }

        .circular--portrait img {
          width: 100%;
          height: auto;
        }

        .side {
   display:inline-block;
}
        </style>
<center>
<div class="side">
        <div class="circular--portrait">
        <a href="https://www.uni-marburg.de/fb04/team-christiansen/mitarbeiter/christiansen" style="text-decoration:none"><img src="static/dr-christiansen.jpeg" /></a>
        </div>
        <a href="https://www.uni-marburg.de/fb04/team-christiansen/mitarbeiter/christiansen" style="text-decoration:none"><h5>Prof. Dr. Hanna Christiansen <br> Supervisor of the project</h5></a>
</div>
<div class="side">
      <div class="circular--portrait">
      <a href="#" style="text-decoration:none"><img src="static/beheshti.jpg" /></a>
      </div>
      <a href="#" style="text-decoration:none"><h5>Ashkan Beheshti <br> Developer of the project</h5></a>
</div>
</center>
  {% endblock %}
