{% extends "layout.html" %}
{% block app %}




        <h2>Why Meta-Mar?</h2>
        <p>Social studies often use very small sample sizes, so any statistics used generally give results containing large margins of error. <b>Meta-analysis</b> is the process of drawing from a larger body of research, and using powerful statistical analyzes on the conglomerated data. This gives a much larger sample population and is more likely to generate meaningful and usable data.</p>
        <p>By <b>Meta-Mar</b> You can type data directly into the table or easily upload your already excisting Microsoft Excel spreadsheet. </p>

        <h2>Effect Sizes Calculation</h2>
        <p><b>Effect Sizes</b> would be calculated as <b> Cohen's d </b>and <b>Hedges'g</b> based on<b> Means and Standard Deviations</b> and <b>Correlations</b>.</p>
        <center>
              <div class="btn-group">
                <input type=button onClick="location.href='/tutorial'" value='Tutorial'>
                <input type=button onClick="location.href='/meta'" value='Meta Analysis'>

              </center>

  {% endblock %}
