<!DOCTYPE html>
<html lang="en">

<head>
    <title>Meta-Mar free online meta analysis calculator service!</title>
    <link rel="shortcut icon" href="/static/icon.png">
    <meta name="title" content="Meta-mar free online meta analysis calculator service!">
    <meta name="description" content="free online meta analysis calculator, effect size calculator, meta regression, subgroup analysis, heterogeneity, forestplot, funnel plot, Orwin's Fail-N Safe ">
    <meta name="keywords" content="meta analysis calculator, meta-analysis calculator, effect size calculator, meta-regression, subgroup analysis, heterogeneity calculator, forestplot, Orwin's Fail-N Safe , ashkan beheshti, اشکان بهشتی, cohen d, hedges g, q Cochrane">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="7 days">
    <meta name="author" content="Ashkan Beheshti">
    <meta name="google-site-verification" content="N65UG7XWQDeVfKZjZA8c265Y8VWiQ7PR2rIiIrcG-K8" />
    <meta name="msvalidate.01" content="EDE0C74BEAC9795F89467274B95C726D" />
    <link rel="stylesheet" type="text/css" href="/static/style/style.css?version=1.5" title="style" />
    <!-- Load plotly.js into the DOM -->
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

</head>

<body>
    <div class="container">

        <div id="main">
            <div id="header">
                <center><a href="/"><img src="/static/logon.jpg" alt="Meta-Mar" style="width:418.82px;height:157px;"></a></center>
                <div id="menubar">
                    <ul id="menu">
                        <li {%- if request.path=="/" %} class="selected" {% endif %}><a href="/">Home</a></li>
                        <li {%- if request.path=="/meta" %} class="selected" {% endif %}><a href="/meta">Meta Analysis</a></li>
                        <li {%- if request.path=="/effect" %} class="selected" {% endif %}><a href="/effect">Effect Size Calculator</a></li>
                        <li {%- if request.path=="/about" %} class="selected" {% endif %}><a href="/about">About the Project</a></li>
                        <li {%- if request.path=="/contact" %} class="selected" {% endif %}><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div id="site_content">
                <div id="content">
                    <div id="app">
                        {% block app %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            Copyright &copy; Meta-Mar v2.7.0
            <!--| <a href="my page">My page</a> |-->
        </div>
    </div>
    <script src="https://unpkg.com/vue@2.3.4/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-101853628-1"></script>
    <script src="//www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="//www.amcharts.com/lib/3/serial.js"></script>
    <script src="//www.amcharts.com/lib/3/themes/light.js"></script>
    {% block script %}{% endblock %}
    <script>
        // Google Tag Manager
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KWRVRTT');
        // End Google Tag Manager

        // Global site tag (gtag.js) - Google Analytics
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-101853628-1');
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-101853628-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWRVRTT" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


    <!-- End Google Tag Manager (noscript) -->

  

</body>
</html>
