<!DOCTYPE html>
<html lang="en">

<head>
    <title>Meta-Mar</title>
    <meta charset="utf-8">
    <meta name="description" content="Meta-Mar Free Online Meta Analysis Service!" />
    <meta name="keywords" content="meta analysis, meta-analysis, effect size, social science, psychology, psychiatry, marburg, philipps universität marburg, cohen's d, hedges's g, mean and standard deviation effect size, correlation effect size, heterogeneity, forestplot, free meta nalysis. meta analysis online, meta analysis calculator"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/style/style.css?version=1.1" title="style" />
    <script src="https://unpkg.com/vue@2.3.4/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
</head>

<body>
    <div class="container">

        <div id="main">
            <div id="header">
                <center><a href="/"><img src="/static/Marburg.png" alt="Marburg Uni" style="width:323.1px;height:190.5px;"></a></center>
                <div id="menubar">
                    <ul id="menu">
                        <li {%- if request.path=="/" %} class="selected" {% endif %}><a href="/">Home</a></li>
                        <li {%- if request.path=="/tutorial" %} class="selected" {% endif %}><a href="/tutorial">Tutorial</a></li>
                        <li {%- if request.path=="/meta" %} class="selected" {% endif %}><a href="/meta">Meta Analysis</a></li>
                        <li {%- if request.path=="/contact" %} class="selected" {% endif %}><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div id="site_content">
                <div id="content">
                    <div id="app">
                        {% block app %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            Copyright &copy; Meta-Mar
            <!--| <a href="my page">My page</a> |-->
        </div>
        {% block script %}{% endblock %}
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-101853628-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
