<!DOCTYPE html>
<html lang="en">

<head>
    <title>Meta-Mar free online meta analysis service!</title>
    <link rel="shortcut icon" href="/static/icon.png">
    <meta name="title" content="Meta-mar free online meta analysis service!">
    <meta name="description" content="free online meta analysis, effect size calculator, heterogeneity, forestplot ">
    <meta name="keywords" content="meta analysis, meta-analysis, effect size, meta-regression, heterogeneity, forestplot, ashkan beheshti, اشکان بهشتی, cohen d, hedges g, q cochran">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="7 days">
    <meta name="author" content="Ashkan Beheshti">
    <meta name="msvalidate.01" content="EDE0C74BEAC9795F89467274B95C726D" />
    <link rel="stylesheet" type="text/css" href="/static/style/style.css?version=1.5" title="style" />
</head>

<body>
    <div class="container">
        <div id="main">
            <div id="header">
                <center><a href="/"><img src="/static/meta.png" alt="Marburg Uni" style="width:280px;height:157.5px;"></a></center>
                <div id="menubar">
                    <ul id="menu">
                        <li {%- if request.path=="/" %} class="selected" {% endif %}><a href="/">Home</a></li>
                        <li {%- if request.path=="/meta" %} class="selected" {% endif %}><a href="/meta">Meta Analysis</a></li>
                        <li {%- if request.path=="/effect" %} class="selected" {% endif %}><a href="/effect">Effect Size Calculator</a></li>
                        <li {%- if request.path=="/about" %} class="selected" {% endif %}><a href="/about">About the Project</a></li>
                        <li {%- if request.path=="/contact" %} class="selected" {% endif %}><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div id="site_content">
                <div id="content">
                    <div id="app">
                        {% block app %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            Copyright &copy; Meta-Mar v1.8.0
        </div>
    </div>

    <script src="https://unpkg.com/vue@2.3.4/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101853628-1"></script>
    <script src="//www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="//www.amcharts.com/lib/3/serial.js"></script>
    <script src="//www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="/static/main.js?version=1.0"></script>

    {% block script %}{% endblock %}
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-101853628-1');

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-101853628-1', 'auto');
        ga('send', 'pageview');
    </script>

</body>

</html>
