{% extends "layout.html" %} {% block app %}
<br>

<h1>Meta-analysis: SMD Model</h1>
<h4>In order to start your analysis please click on your preferred method:</h4>
<br>

<div id="table" align="left">
  <table border="0">
    <tr>
      <th>
        <a href="#" id="Method_1" v-on:click="dataEntryMethod = true; uploadMethod = false">
          <h3 style="font-size: 200%; margin-right: 100px">
            <b v-if="dataEntryMethod">Data Entry</b>
            <span v-if="!dataEntryMethod">Data Entry</span>
          </h3>
        </a>
      </th>
      <th>
        <a href="#" id="Method_2" v-on:click="uploadMethod = true; dataEntryMethod = false">
          <h3 style="font-size: 200%;">
            <b v-if="uploadMethod">Excel Spreadsheet Upload</b>
            <span v-if="!uploadMethod">Excel Spreadsheet Upload</span>
          </h3>
        </a>
      </th>
    </tr>
    <tr>
      <th><a href="#" style="cursor:help;" v-on:mouseover="dataEntryHelp = !dataEntryHelp" v-on:mouseout="dataEntryHelp = !dataEntryHelp"> help </a></th>
      <th><a href="#" style="cursor:help;" v-on:mouseover="uploadHelp = !uploadHelp" v-on:mouseout="uploadHelp = !uploadHelp"> help </a></th>
    </tr>
    <tr>
      <th>
        <transition name="fade">
          <div v-if="dataEntryHelp" class="helpbox">
              If you prefer to manually enter data, click on Data Entry. Enter your studies!<br> You can also add or remove
              studies by clicking on Add a Study or Remove.<br> Receive the results by clicking on Calculate.<br> You can
              also download the results as an Excel file.<br>
          </div>
        </transition>
      </th>
      <th>
        <transition name="fade">
          <div v-if="uploadHelp" class="helpbox">
              If you prefer to upload your data as an Excel file click on <b>Excel Spreadsheet Upload</b>.<br> Download the
              empty Excel file and transfer your data to the spreadsheet without changing the labels.<br> Receive the results
              by clicking on <b>Calculate</b>.You can also <b>download the results as an Excel file.</b><br>
          </div>
        </transition>
      </th>
    </tr>
  </table>
</div>

<div v-if="dataEntryMethod" class="data-entry-method method1">
  <form action="/result1" method="POST" v-on:submit.prevent="processData()">
    <table width="100%" class="table" id="method1">
      <thead>
        <tr>
          <td rowspan="2">
            <center> <b> <font color="black"> Study name</font> </b> </center>
          </td>
          <td colspan="3">
            <center> <b> <font color="#2E9AFE"> Group 1 </font> </b> </center>
          </td>
          <td colspan="3">
            <center> <b> <font color="#FE642E"> Group 2 </font> </b> </center>
          </td>
          <td rowspan="2">
            <center> <b> <font color="#FF0000"> Moderator </font> </b> </center>
          </td>
        </tr>

        <tr>
          <td>
            <center>
              <font color="#2E9AFE"> Sample size </font>
            </center>
          </td>
          <td>
            <center>
              <font color="#2E9AFE"> Mean </center>
            </font>
          </td>
          <td>
            <center>
              <font color="#2E9AFE"> Standard Deviation </font>
            </center>
          </td>
          <td>
            <center>
              <font color="#FE642E"> Sample size </center>
            </font>
          </td>
          <td>
            <center>
              <font color="#FE642E"> Mean </center>
            </font>
          </td>
          <td>
            <center>
              <font color="#FE642E"> Standard Deviation </font>
            </center>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row, i in rows">
          <td> <input type="text" v-model="row.study" name="study" required></td>
          <td> <input type="number" step="0.001" v-model="row.g1_sample" name="g1_sample" required></td>
          <td> <input type="number" step="0.001" v-model="row.g1_mean" name="g1_mean" required></td>
          <td> <input type="number" step="0.001" v-model="row.g1_sd" name="g1_sd" required></td>
          <td> <input type="number" step="0.001" v-model="row.g2_sample" name="g2_sample" required></td>
          <td> <input type="number" step="0.001" v-model="row.g2_mean" name="g2_mean" required></td>
          <td> <input type="number" step="0.001" v-model="row.g2_sd" name="g2_sd" required></td>
          <td> <input type="number" step="0.001" v-model="row.moderator" name="moderator" required></td>
          <td v-if="rows.length>1"><a @click="removeRow(i)" class="btn btn-danger removelink">Remove</a></td>
        </tr>
      </tbody>
    </table>

    <div>
      <button class="btn btn-default" @click="addRow">Add a Study</button>
      <br>
      <br>
      <button class="btn btn-primary" type="submit">Calculate</button>
  </form>

  <p></p>
  <p></p>

  <br>
  <div id="response-container">
    <div v-if="error">
      <h3>Error!</h3>
      {{error}}
    </div>
    <div v-if="isLoading"> Loading... </div>
    <div v-if="ajaxResult" v-html="ajaxResult"></div>
    <div v-if="ajaxResult" id="forestplot"></div>
    <div class="forest">
      <h4 v-if="ajaxResult"> Forestplot - fixed and random effect models</h4>
      <div v-if="ajaxResult" id="fixedModelChartDiv">fixedModelChartDiv</div>
      <div v-if="ajaxResult" id="randomModelChartDiv">randomModelChartDiv</div>
    </div>
  </div>
</div>
</div>

<div v-if="uploadMethod" class="data-entry-method method2">
  <form action="/uploader" method="POST" enctype="multipart/form-data">
    <b>  &nbsp;Step1:</b> Download the raw excel file: <a href="/static/analysis_mean.xlsx" download> analysis_mean.xlsx </a>
    <p></p>
    <b>&nbsp;Step2: </b>Now enter your data just like the picture!
    <p></p>
    <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img src="/static/example_mean.png" alt="Data Entry" width="689" height="144.5">
    <br><p></p>
    <b> &nbsp;Step3:</b> Upload your excel file(analysis_mean.xlsx). <input type="file" name="file">
    <br> &nbsp;
    <p></p>
    <button type="submit" value="Submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Continue to the Results </button>
  </form>
</div>


{% endblock %} {% block script %}
<script>
  var app = new Vue({
    el: "#app",
    data: {
      dataEntryMethod: true,
      uploadMethod: false,
      dataEntryHelp: false,
      uploadHelp: false,
      error: false,
      isLoading: false,
      ajaxResult: null,
      rows: [{
        study: "",
        g1_sample: "",
        g1_mean: "",
        g1_sd: "",
        g2_sample: "",
        g2_mean: "",
        g2_sd: "",
        moderator: ""
      }, ]
    },
    methods: {
      addRow: function () {
          this.rows.push({
            study: "",
            g1_sample: "",
            g1_mean: "",
            g1_sd: "",
            g2_sample: "",
            g2_mean: "",
            g2_sd: "",
            moderator: ""
          });
      },
      removeRow: function (index) {
          this.rows.splice(index, 1)
      },
      processData: function () {
          // clear error, previous results, ...
          this.error = false
          this.isLoading = true
          this.ajaxResult = null
          // get data from data-model & convert to json string
          const data = JSON.stringify(this.rows)
          // send ajax request as POST
          this.$http.post('/result1', data).then(response => {
            // request was successful, binding the result
            this.isLoading = false
            this.ajaxResult = response.body.content
            this.drawChart(response.body)
          }, error => {
            // well, sometimes error happens :)
            this.isLoading = false
            this.error = error
          })
      },
      drawChart: function (data) {
        setTimeout(() => {
          drawChartWithSomeDelay(data)
        }, 200) // wait 200ms and then draw the chart
      }
    }
  })

function drawChartWithSomeDelay(data) {
  let fixedModelChartData = []
  let randomModelChartData = []

  fixedModelChartData.push({
    "category": "",
    "measure": 0,
    "bullet": "",
    "bulletSize": 0,
    "high": 0,
    "low": 0
  })

  for (var i = 0; i < data.g_list.length; i++) {
    fixedModelChartData.push({
      "category": data.study_list[i],
      "measure": data.g_list[i].toFixed(3),
      "bullet": "square",
      "bulletSize": data.weight_fixed_list[i].toFixed(0),
      "high": data.g_upper_list[i].toFixed(3),
      "low": data.g_lower_list[i].toFixed(3)
    })
  }

  fixedModelChartData.push({
    "category": "g(ave) fixed model",
    "measure": data.ave_g_fixed,
    "bullet": "diamond",
    "bulletSize": 25,
    "high": data.upper_g_ave_fixed,
    "low": data.lower_g_ave_fixed
  })

  AmCharts.makeChart("fixedModelChartDiv", {
    "type": "serial",
    "theme": "light",
    "rotate": true,
    "fontSize": 18,
    "categoryAxis": {
      "gridAlpha": 0,
    },
    "valueAxes": [{
      "guides": [{
        "value": 2.2,
        "dashLength": 3,
        "lineThickness": 2
      }]
    }],
    "chartCursor": {
      "fullWidth": true,
      "graphBulletSize": 1,
      "categoryBalloonEnabled": false,
      "cursorAlpha": 0.1
    },
    "dataProvider": fixedModelChartData,
    "graphs": [{
      "lineAlpha": 0,
      "bulletField": "bullet",
      "bulletSizeField": "bulletSize",
      "valueField": "measure",
      "lineColor": "#00c20d",
      "balloonText": "<strong>[[value]]</strong> 95%CI([[low]],[[high]])"
    }, {
      "type": "ohlc",
      "highField": "high",
      "lowField": "low",
      "openField": "measure",
      "closeField": "measure",
      "fixedColumnWidth": 1,
      "lineColor": "#00c20d",
      "showBalloon": false
    }],
    "categoryField": "category"
  });



  randomModelChartData.push({
    "category": "",
    "measure": 0,
    "bullet": "",
    "bulletSize": 0,
    "high": 0,
    "low": 0
  })

  for (var i = 0; i < data.g_list.length; i++) {
    randomModelChartData.push({
      "category": data.study_list[i],
      "measure": data.g_list[i].toFixed(3),
      "bullet": "square",
      "bulletSize": data.weight_random_list[i].toFixed(0),
      "high": data.g_upper_list[i].toFixed(3),
      "low": data.g_lower_list[i].toFixed(3)
    })
  }

  randomModelChartData.push({
    "category": "g(ave) fixed model",
    "measure": data.ave_g.toFixed(3),
    "bullet": "diamond",
    "bulletSize": 25,
    "high": data.upper_g_ave.toFixed(3),
    "low": data.lower_g_ave.toFixed(3)
  })

  AmCharts.makeChart("randomModelChartDiv", {
    "type": "serial",
    "theme": "light",
    "rotate": true,
    "fontSize": 18,
    "categoryAxis": {
      "gridAlpha": 0,
    },
    "valueAxes": [{
      "guides": [{
        "value": 2.2,
        "dashLength": 3,
        "lineThickness": 2
      }]
    }],
    "chartCursor": {
      "fullWidth": true,
      "graphBulletSize": 1,
      "categoryBalloonEnabled": false,
      "cursorAlpha": 0.1
    },
    "dataProvider": randomModelChartData,
    "graphs": [{
      "lineAlpha": 0,
      "bulletField": "bullet",
      "bulletSizeField": "bulletSize",
      "valueField": "measure",
      "lineColor": "#00c20d",
      "balloonText": "<strong>[[value]]</strong> 95%CI([[low]],[[high]])"
    }, {
      "type": "ohlc",
      "highField": "high",
      "lowField": "low",
      "openField": "measure",
      "closeField": "measure",
      "fixedColumnWidth": 1,
      "lineColor": "#00c20d",
      "showBalloon": false
    }],
    "categoryField": "category"
  });
}
</script>


{% endblock %}
