<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta-Mar</title>
</head>
<body>
    <p></p>
   <p></p>
   <br>
   <br><br><br><br>
   
   <h1>Meta-Mar <br>online meta-analysis calculator</h1>
   <h6>COPYRIGHT © META-MAR V3.0.1</h6>
   <p></p>
   <p></p><p></p>
   <p></p>
   <br>
   <br><br><br><br>
   <div class="start">
   <a href="https://meta-mar.shinyapps.io/meta-analysis-calculator/"><h2> start here </h2></a>
    </div>
   
   
    <style>
        body{background-color:#212F3C;}
        h1{text-align: center; color:#F8F9F9;text-decoration:none; }
        h2{text-align: center; color:#16A085;text-decoration:none; }
        h6{text-align: center; color:#F8F9F9;text-decoration:none; }
        .center {display: block;margin-left: auto;margin-right: auto;width: 50%;}
        a{text-decoration:none;}
    </style>
</body>
</html>