{% extends "layout.html" %}
{% block app %}
  <form action="/uploader" method="POST" enctype="multipart/form-data">
    <b>  &nbsp;Step1:</b> Download the raw excel file: <a href="analysis.xlsx" download> analysis.xlsx </a>
    <p></p>
    <b>&nbsp;Step2: </b>Now enter your data just like the picture!
    <p></p>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img src="/static/example.png" alt="Data Entry" height="240.8" width="416">
    <p></p>
    <b> &nbsp;Step3:</b> Upload your excel file(analysis.xlsx). <input type="file" name="file">
    <p></p>
    &nbsp;<button type="submit" value="Submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Continue to the Results </button>
  </form>
{% endblock %}
