<!DOCTYPE html>
<html>

</head>
<body>

<table align="center" id="meta" border=1>
  <tr>


    <td rowspan="2"> <center> <b> <font color="black"> Study </font> </b> </center> </td>
    <td colspan="3"> <center> <b> <font color="green"> Group 1 </font> </b> </center> </td>
    <td colspan="3"> <center> <b> <font color="blue"> Group 2 </font> </b> </center> </td>
  </tr>
  <tr>
    <td> <center> <font color="green"> Sample size </font> </center> </td>
    <td> <center> <font color="green"> Mean </center> </font> </td>
    <td> <center> <font color="green"> Standar Deviation </font> </center> </td>
    <td> <center> <font color="blue"> Sample size </center> </font> </td>
    <td> <center> <font color="blue"> Mean </center> </font> </td>
    <td> <center> <font color="blue"> Standar Deviation </font> </center> </td>
    </tr>

  <tr id="row1">
    <form action = "http://localhost:5000/result" method = "POST">

    <td> <input type="text" name="study" placeholder="Study"></td>
    <td> <input type="number" name="g1_sample" placeholder="Group1_sample"></td>
    <td> <input type="neumber" name="g1_mean" placeholder="Group1__mean"></td>
    <td> <input type="number" name="g1_sd" placeholder="Group1_sd"> </td>
    <td> <input type="number" nama="g2_sample" placeholder="Group2_sample"></td>
    <td> <input type="number" name="g2_mean" placeholder="Group2_mean"></td>
    <td> <input type="number" name="g2_sd" placeholder="Group2_sd"></td>


  </tr>

</table>
<p>
  <center>
  <input  type="submit" value="Submit">
</center>
</p>
</form>
</body>
</html>
