{% extends "layout.html" %}
{% block app %}

  <h4> <a href="/meta">Back to previous page </a></h4>
  <p></p>

<div id="table" align="left">
<table style="width:100%">
  <tr>
    <th><h4>total effect size: Cohen's d</h4></th>
    <th><h4>total effect size: Hedges' g</h4></th>
  </tr>
  <tr>
    <th><b>The Average Cohen's d is: </b> {{ave_d}}</th>
    <th><b>The Average Hedges's g is: </b>{{ave_g}}</th>

  </tr>
  <tr>
    <th><b> The Standard Error is:</b> {{ave_SEd}}</th>
    <th><b>The Standard Error is: </b>{{ave_SEg}}</th>
  </tr>
  <tr>
    <th><b>95% CI </b>=[{{lower_dd}},{{upper_dd}}]</th>
    <th><b> 95% CI </b>= [{{lower_gg}},{{upper_gg}}]</th>
  </tr>
</table>
  </div>
<p></p>
<p><b>The Heterogeneity of the analysis is: </b> {{Het}}%</p>
<p></p>
<p></p>

<div style="overflow-x:auto;">
      {{total}}
</div>


  <p></p>
  <p></p>
    <a href="/return-file/" target="blank"> <h4 align="center"><b>Please Click to Download the results as an Excel file</h4></b></a>

<div id="forestplot"></div>
<p></p>


</div>
{% endblock %}
{% block script %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

    var study = ["{{study_list |safe}}"];
    study = study[0].substring(1, study[0].length - 1);
    study = study.split(",");

    console.log(study);
    var d = ['{{d_list}}'];
    d = JSON.parse(d);
    var d_lower = ['{{d_lower_list}}'];
    d_lower = JSON.parse(d_lower);
    var d_upper = ['{{d_upper_list}}'];
    d_upper = JSON.parse(d_upper);


    var list = [];

    for (var i = 0; i < d.length; i++) {
        list[i] = {
            x: [d_lower[i],d[i]-0.3,d[i]-0.2,d[i]-0.1, d[i],d[i]+0.1,d[i]+0.2,d[i]+0.3 ,d_upper[i]],
            type: 'box',
            name: study[i]
        };
    }

    var ave_d = {
      x: [{{lower_dd}}, {{ave_d}}, {{upper_dd}}],
      type: 'box',
      name: 'Average Effect Size'
    };

    list.push(ave_d);
    list.reverse()
    var data = list;

    var layout = {
        title: 'Forest Plot'
    };

    Plotly.newPlot('forestplot', data, layout);
    
</script>
{% endblock %}
