{% extends "layout.html" %}
{% block app %}

  <p>The Average Cohen's d is: {{ave_d}}<br> The Standard Error is: {{ave_SEd}}<br> 95% CI=[{{lower_dd}},{{upper_dd}}]</p>

  <p></p>

  <p>The Average Hedges's g is: {{ave_g}}<br> The Standard Error is: {{ave_SEg}}<br> 95% CI=[{{lower_gg}},{{upper_gg}}]</p>
  <p> </p>
  <p>The Heterogeneity of the analysis is: {{Het}}%</p>


  <div style="overflow-x:auto;">
      {{total}}
  </div>


  <p></p>
  <p></p>
    <a href="/return-file/" target="blank"><button class="btn btn-default" name="button">Please Click to Download the results as an Excel file</button></a>

<div id="forestplot"></div>
<p></p>
<div id="pash">

</div>
{% endblock %}
{% block script %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
var study = {{study_list|safe}};
var d = {{d_list}};
var d_lower = {{d_lower_list}};
var d_upper = {{d_upper_list}};
var list=[];

for (i = 0; i < d.length; i++) {
  list[i] = {
    x: [d_lower[i], d[i], d_upper[i]],
    type: 'box',
    name: study[i]
  };
}

var data = list;

var layout = {
  title: 'Forest Plot'
};

Plotly.newPlot('forestplot', data, layout);
document.getElementById("pash").innerHTML = study;
</script>
{% endblock %}
