{% extends "layout.html" %}
{% block app %}
  The Average Cohen's d is: {{ave_d}}
  <p></p>
  The Standard Error is: {{ave_SEd}}
  <p></p>
  95% CI=[{{lower_dd}},{{upper_dd}}]
  <p></p>
  </hr>
  <p></p>
  The Average Hedges's g is: {{ave_g}}
  <p></p>
  The Standard Error is: {{ave_SEg}}
  <p></p>
  95% CI=[{{lower_gg}},{{upper_gg}}]
  <p></p>
  The Heterogeneity of the analysis is: {{Het}}%

  <p></p>
  <p></p>
  </hr>
  <p></p>
  {{total}}

  </hr>

  <a href="/return-file/" target="blank"><button class="btn btn-default" name="button">Please Click to Download the results as an Excel file</button></a>
{% endblock %}
