{% extends "layout.html" %}
{% block app %}

  <h4> <a href="/meta">Back to previous page </a></h4>
  <p></p>




<p></p>
<p></p>
<p></p>

<div style="overflow-x:auto;">
      {{total}}
</div>


  <p></p>
  <p></p>

<div id="table" align="left">
  <table style="width:100%">
    <thead>
      <tr>
        <td>
          <center> <b> <font color="black">  </font> </b> </center>
        </td>

        <td>
          <center>
            <font color="#2E9AFE"> Hedges'g (SMD) </font>
          </center>
        </td>
        <td>
          <center>
            <font color="#2E9AFE"> SEg </center>
          </font>
        </td>
        <td>
          <center>
            <font color="#2E9AFE"> 95%CI </font>
          </center>
        </td>
        <td>
          <center>
            <font color="#2E9AFE"> Heterogeneity </font>
          </center>
        </td>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <center> <font color="#FF9900"> Fixed Effect Model </font> </center> </td>
        <td> <center>{{ave_g_fixed}}</center> </td>
        <td> <center>{{ave_SEg_fixed}} </center></td>
        <td> <center>[{{lower_gg_fixed}},{{upper_gg_fixed}}] </center></td>
        <td> <center>{{Het_fixed}}% </center></td>
      </tr>
      <tr>
        <td> <center> <font color="#FF9900"> Random Effect Model </font> </center> </td>
        <td> <center>{{ave_g_random}}</center> </td>
        <td> <center>{{ave_SEg_random}} </center></td>
        <td> <center>[{{lower_gg_random}},{{upper_gg_random}}]</center> </td>
        <td> <center>{{Het_random}}% </center></td>
      </tr>
    </tbody>
  </table>
</div>

  <p></p>
  <p></p>
  <p></p>
  <p></p>

<a href="/return-file/" target="blank"> <h4 align="center"><b>Please Click to Download the results as an Excel file</h4></b></a>

<div id="forestplot"></div>
<p></p>


</div>
{% endblock %}
{% block script %}
<script>
    const study = {{study_list | safe}}
    const g = {{g_list}}
    const g_lower = {{g_lower_list}}
    const g_upper = {{g_upper_list}}
    const list = []

    for (let i = 0; i < g.length; i++) {
        list[i] = {
            x: [g_lower[i],g[i] ,g_upper[i]],
            type: 'box',
            name: study[i]
        }
    }

    const ave_g = {
      x: [{{lower_gg_random}}, {{ave_g_random}}, {{upper_gg_random}}],
      type: 'box',
      name: 'Average Effect Size'
    }

    list.push(ave_g)
    list.reverse()
    const layout = {
        title: 'Forest Plot'
    }


    Plotly.newPlot('forestplot', list, layout)


</script>
{% endblock %}
