{% extends "layout.html" %}
{% block app %}


<b>Meta-analysis & meta-regression calculation model: </b>
<p></p>


<ul>
  <li><a href="/smd"> Standardized Mean Difference (Mean, SD, Sample Size) + Subgroup Analysis </a> </li>
  <li><a href="/ratios"> Ratios </a></li>
  <li><a href="/corr">Correlation </a></li>
</ul>
<p></p>
To make sure <a href="/">Meta-Mar</a> is running properly please use <b>Safari</b>, <b>Google Chrome</b> or <b>Mozilla Firefox</b>.
<p></p>
Review a solved example by Meta-Mar: <a href="/example">SMD</a>,<a href="/example_2">Ratios</a>
<br>
<p></p>
<img src="/static/meta00.jpg" alt="meta analysis" style="width:340px;height:240px;">

{% endblock %}
{% block script %}






{% endblock %}
