{% extends "layout.html" %}
{% block app %}

        <h1>How it works?</h1>
        <h2>Method1:</h2>
        <p>Step1: Go to "Meta Analysis". </p>
        <p>step2: If you prefer to manually enter data, select Method1.</br></p>
        <p>Step3: Deceide which calculation of the effect size is propper for your analysis? </br> <b>Correlations</b>, <b>Means and Standard Deviations</b>,<b> Odds Ration</b>. </p>
        <p>Step4: Enter your studies! You can also add or remove studies by clicking on <b>"Add a Study"</b> or <b>"Remove"</b>.</p>
        <p>Step5: Receive the results by clicking on Calculate. </br> You can also download the results as an Excel file.</p>
<p></p>

        <h2>Method2:</h2>
        <p>Step1: Go to "Meta Analysis". </p>
        <p>step2: If you prefer to upload your data as an Excel file select Method2.</br></p>
        <p>Step3: Deceide which calculation of the effect size is propper for your analysis? </br> <b>Correlations</b>, <b>Means and Standard Deviations</b>,<b> Odds Ration</b>. </p>
        <p>Step4: Download the empty Excel file and transfer your data to the spreadsheet. </p>
        <p>Step5: Receive the results by clicking on Calculate. </br> You can also download the results as an Excel file.</p>

<p></p>

<center> <input type=button onClick="location.href='/meta'" value='Start Your Analysis!'> </center>

{% endblock %}
